/* Thanks to https://coolbackgrounds.io/ and https://cssgradient.io/ for their great CSS resources! */

html {
    background-image: url("images/prim.jpg");
    -webkit-font-smoothing: antialiased;
}

body {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(6px);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #363636;
    font-family: "Avenir Next", "Arial", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 73em;
    padding: 2em 2em 4em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Varela Round";
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

/* https://thirtyeightvisuals.com/blog/low-highlight-heading-links-squarespace */
h2 {
    margin-top: 1.3em;
    display: inline;
}

h2 > .h2y {
    background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #fcf0b2 65%);
}

a {
    color: #0083e8;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    background: transparent;
    border: 3px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    max-width: 25%;
    display: inline-block;
}

video {
    background: transparent;
    border: 3px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    max-width: 25%;
    display: inline-block;
}

p {
    display: inline-block;
    vertical-align: middle;
}

/* https://html-online.com/articles/gradient-background-buttons-css-html/ */
.gradient-button {
    margin: 10px;
    font-family: "Arial Black", Gadget, Charter, sans-serif;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    background-size: 200% auto;
    color: #FFF;
    width: 220px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    border-radius: 25px;
}
.gradient-button:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 8px 10px 12px;
}

.disentangle-button {
    color: #222222;
    background-image: linear-gradient(to right, #1f78ff 0%, #77efff 51%, #da98ff 100%);
    vertical-align:middle;
}
.disentangle-button:hover {
    background-position: right center;
}

.arxiv-button {
    background-image: linear-gradient(to right, #a63aff 0%, #ff6e2e 51%, #fff314 100%);
    horiz-align:right;
    vertical-align:middle;
}
.arxiv-button:hover {
    background-position: right center;
}

.github-button {
    background-image: linear-gradient(to right, #0078ff 0%, #24fd67 51%, #a63aff 100%);
    horiz-align:right;
    vertical-align:middle;
}
.github-button:hover {
    background-position: right center;
}

.paper{
}

.paper > img{
    text-align:left;
    vertical-align:middle;
    margin-right:1em;
}

.paper > video{
    text-align:left;
    vertical-align:middle;
    margin-right:1em;
}

.paper > span{
    vertical-align:middle;
    display:inline-block
}

.me{
    max-width: 75%;
}

.pxb{
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 25px;
    background: url("images/seaedge.png");
}

.pxb:hover{/*
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 8px 10px 12px;*/
}

.pxb > h1{
    font-family: "Varela Round","Avenir Next",sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin-top:0.0%;
}

.pxb > p{
    color: #000000;
    font-size: 26px;
    text-align: left;
    margin-bottom: 5%;
}


.row {
    display: flex;
}

.column-left {
    width: 28%;
}

.column-right {
    padding: 2%;
    width: 72%;
}

hr {
    border:none;
    width: 100%;
    height: 50px;
    box-shadow: 0 20px 20px -20px #333;
}

/* smartphone and tablet optimizations */
@media only screen and (max-width: 1000px) {

    html {
        background: hsl(214, 90%, 65%);
    }

    .paper > img{
        max-width: 60%;
    }

    .paper > video{
        max-width: 60%;
    }

    .pxb {
        padding-bottom: 5vw;
    }

    .pxb > h1{
        font-weight: bold;
        padding-top: 10px;
        font-size: 35px;
    }

    .pxb > p{
        margin-top: -1vw;
        color: #000000;
        font-size: 20px;
    }

    .gradient-button {
        font-size: 2.3vw;
    }
}
